<nav *ngIf="isLoggedIn$ | async" class="navbar">
  <a routerLink="/dashboard">Home</a>

  <ng-container *ngIf="(userRole$ | async)?.toLowerCase() === 'admin';">
    <a routerLink="/workers">Workers</a>
    <a routerLink="/worktasks">Worktasks</a>
    <a routerLink="/users">Users</a>
  </ng-container>

  <ng-container *ngIf="(userRole$ | async)?.toLowerCase() === 'worker'">
    <a routerLink="/mytasks">Tasks</a>
  </ng-container>

  <button (click)="logout()">Logout</button>

  <span *ngIf="userRole$ | async as role" class="role-info">
    You are logged in as: <strong>{{ role }}</strong>
  </span>
</nav>
